{% extends 'base.html' %}
<title>
    {% block title %}

        {{ post.title }}

    {% endblock title %}
</title>
{% block content %}
    <!-- Blog Post -->
    <div class="col-md-8">
        <div class="card mb-4">

            <div class="card-body">
                {% if post.cover %}
                    <img class="card-img-top" src={{ post.cover.url }}>
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{ post.body }}</p>

                {% else %}
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{ post.body }}</p>

                {% endif %}
            </div>
            <div class="card-footer text-muted">
                Posted on {{ post.date }} by
                <a href="#">{{ post.author }}</a>
            </div>
        </div>
        {% block category %}
            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Category</h5>
                <div class="card-body">
                    <div class="row">

                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">{{ post.category.title }}</a>
                                </li>

                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}