{% extends 'base.html' %}
{% load static %}

    <title>
        {% block title %}
            Create New Blog
        {% endblock title %}
    </title>


{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <br>
        <h3>New Blog</h3>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Title:</label>
            <div class="col-sm-4">
                {{ form.title }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Body:</label>
            <div class="col-sm-4">
                {{ form.body }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Cover</label>
            <div class="col-sm-4">
                {{ form.cover }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Category:</label>
            <div class="col-sm-4">
                {{ form.category }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}
